/*Background*/
html {
    display: flex;
    justify-content: center;
    background-color: #FFF;
}
body {
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    height: 1722px; /*change value depending on length of your main-page content*/
    max-width: 1440px;
    background-image: url(../images/villa_lawn.jpg);
    background-color: #7BA376;
    background-position: top center;
    background-repeat: no-repeat;
}
 .body__overlay {
    position: absolute;
    z-index: 0;
    width: 1440px;
    height: 841px;
    background: linear-gradient(180deg, rgba(123, 163, 118, 0.60) 0%, rgba(231, 231, 231, 0.60) 18.98%, 
    rgba(223, 223, 223, 0.60) 62.22%, rgba(123, 163, 118, 0.60) 115.93%);
}
.shadow {
    grid-row: 2 / 3;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%);
    height: 10px;
}
header, main, footer, shadow {
    z-index: 1;
}


/*Text Style*/
body {
    font-family: "Miriam Libre";
    color: #1A2718;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header__txt, .link {
    color: #1A2718;
    text-decoration: none;
}
.txt.logo {
    font-family: "Trocchi", serif;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1.4px;
}
.btn, .link {
font-family: "Miriam Libre";
font-size: 18px;
text-transform: uppercase;
}



/*Header & Navigation*/
header {
    grid-row: 1 / 2;
    height: 105px;
}
footer {
    grid-row: 18 / 19;
    height: 49px;
}
header, footer {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 1440px;
    background: rgba(255, 255, 255, 0.60);
}
.navigation.footer {
    height: 25px;
}
.navigation.header, .navigation.footer {
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 24px;
    max-width: 1094px; 
}

/*Logo & Clickable Title*/
.header__logo {
    grid-column: 1 / 2;    
}
.svg.logo {
    width: 88px;
    height: 91px;
}
.txt.logo {
    grid-column: 2 / 3;
    width: 245px;
}

/*Links*/
.header__links {
    display: flex;
    align-items: center;
    grid-column: 6 / 7;
    grid-gap: 27px;
    width: 466px;
    height: 42px;
}
.footer__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 6 / 7;
    grid-gap: 34px;
    width: 390px;
}
.footer__li {
    display: grid;
    text-align: center;
    align-items: center;
    &.one, &.two, &.three {
        width: 104px;
        height: 29px;
    }
}
.header__li {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 140px;
    height: 42px;
}
.header__li, .footer__li {
    list-style-type: none;
}
.link {
    &.gallery, &.about, &.contact {
        width: 104px;
        height: 25px;
    }
}

/*Buttons*/
.btn{
    height: 40px;
    background-color: #7BA376;
    border-style: none;
    

    &.gallery {
    border-radius: 0px 27.5px;
    }
    &.about {
    width: 130px;
    border-radius: 25px;
    }
    &.contact {
    border-radius: 27.5px 0px;  
    }
    &.gallery, &.contact {
    width: 124px;
    }
}

/*Click Effect*/
.btn:active {
    background-color: #527C4D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
/*Hover Effects*/
.btn:hover {
    color: #FFF;
    letter-spacing: 0.9px;
    box-shadow: 0px 2px 3px 0px rgba(33, 41, 32, 0.60);
    transition: 1s;

    &.about {
    width: 132px;
    }
    &.gallery, &.contact {
    width: 126px;
    }
}
.link:hover {
    font-size: 18.5px;
    letter-spacing: 0.9px;
    text-shadow: 0px 2px 3px rgba(33, 41, 32, 0.50);
    transition: 0.6s;
}



/*Main*/
main {
    display: grid;
    justify-content: center;
    grid-row: 3 / 4;
    height: 1498px; /*change value depending on length of your main-page content*/
    margin: 20px;
}

/*Main Page Background*/
.container.one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1266px;
    height: 784px;
    background: #FFF;
    border: 1px solid #3F5E3B;
}
#border {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 1206px;
    height: 684px;
    border: 7px solid rgba(0, 0, 0, 0.14);
}
.svg.main {
    width: 607px;
    height: 639px;
    opacity: 0.2;
}